@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Syncopate", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body{
    background-color: rgb(39, 39, 39);
}
h2,h3{
    text-transform: uppercase;
}

/* HEADER */


header{
    position: sticky;
    top: 0;
    z-index: 9999999999;
    /* border-bottom: 1px solid; */
    height: 70px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color:rgb(39, 39, 39) ;
}
header img{
    height: 56px;
    width: auto;
}
.menu ul{
    display: flex;
    gap: 1px;
}
.menu li{
    list-style: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.menu a{
    text-decoration: none;
}
.link ul{
    display: flex;
    gap:10px;
}
.link li{
    list-style: none;
}


/* MAIN  */


main{
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid; */
    padding: 0 35px;
}
h1{
    text-transform: uppercase;
    font-family: "Syncopate", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size:6.4rem;
    text-align: center;
    line-height: 1.5;
}

/* hero */
section{
    margin-bottom: 100px;
}
.presentation{
    height: 867px;
}
.presentation div{
    display: flex;
    justify-content: space-around;

}
.presentation p{
    line-height: 1.6;
}
.presentation img{
    width: 500px;
    height: 600px;
    object-fit: cover;
    object-position:top;
    margin-top: -90px;
    position: relative;
    right:30px;
    /* fade  */
    -webkit-mask-image: linear-gradient(to bottom,
    rgba(0,0,0,1)65%,
    rgba(0,0,0,0)100%
    );
     mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 65%,
    rgba(0,0,0,0) 100%
  );
}
.miniabout{
    position: relative;
    top: 120px;
    right: 20px;
}
.minicompetences{
    position: relative;
    top:270px;
    text-align:end;
    left: 20px;
}